<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1E292E;">
  <div style="width: 100px"></div>
  <a class="navbar-brand" href="#">Colfondos</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0)" (click)="getTasksList()">
          Actualizar tareas <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>

</nav>

<div class="cGrid">
  <div class="cCol firstCol">
    <ngb-alert [type]="'light'" [dismissible]="false">
      <h4>Tareas Pendientes</h4>
      <div *ngFor="let task of tasks">
        <ngb-alert [type]="'info'" [dismissible]="false" class="listitem"
                   *ngIf="task.state === 'ready'"
                   (click)="takeTask(task.id, task.displayDescription)">
          [{{task.id}}] - {{task.displayName}}
        </ngb-alert>
      </div>

    </ngb-alert>
  </div>
  <div class="cCol secondCol">
    <app-user-task *ngIf="basicDataTask" [taskId]="taskId"></app-user-task>
    <app-validate-data-task *ngIf="securityQuestions" [taskId]="taskId"></app-validate-data-task>
    <ngb-alert [type]="'info'" [dismissible]="false" *ngIf="!basicDataTask && !securityQuestions">
      Seleccione una tarea para continuar
    </ngb-alert>
  </div>
</div>






